<!DOCTYPE html>
<html lang="en">
<head>
    <title>Marmo Design</title>
    <meta charset="UTF-8">
    <meta name="description" content="Marbrerie, sculpture,Usine,ShowRoom,SHow,Room,Sokra,Mosaique,Dalle,Dallage,Marbre">
    <meta name="keywords" content="Marbrerie, sculpture,Usine,ShowRoom,SHow,Room,Sokra,Mosaique,Dalle,Dallage,Marbre">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MARMO DESIGN</title>
    <link rel="shortcut icon" href="{{ asset('assets_back/assets/images/favicon.ico') }}">

    {% block stylesheets %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('front_assets/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('front_assets/css/reset.css') }}"/>
    <link rel="stylesheet" href="{{ asset('front_assets/css/magnific-popup.css') }}"/>
    <link rel="stylesheet" href="{{ asset('front_assets/css/animate.css') }}"/>
    <link rel="stylesheet" href="{{ asset('front_assets/css/style.css') }}"/>

    <!-- Font icons -->
    <link rel="stylesheet" href="{{ asset('front_assets/icon-fonts/fontawesome-5.0.6/css/fontawesome-all.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('front_assets/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('front_assets/icon-fonts/icons-marmo/flaticon.css') }}"/>
    <link rel="stylesheet" href="{{ asset('front_assets/icon-fonts/chathura/stylesheet.css') }}">

    {% endblock %}

</head>
<body>
<!-- LOADER
<div class="loader-wrapper">
    <div class="loader"></div>
</div>
-->
{% trans_default_domain 'FrontBundle' %}


{% block header %}


{% endblock %}


{% block body %}


{% endblock %}

<footer>
    <div class="container text-center">
        <p>Showroom: 71 Av. fattouma Bourguiba 2036, Soukra</p>
        <p>Usine: Route de Raoued Km 7 2083, Ariana</p>

        <p>Copyright © 2019, All rights Reserved. <br>
            Created by <a href="http://idriss-mahjoubi.tn/" target="_blank"> Idriss Mahjoubi </a> </p>
    </div>

</footer>




{% block javascripts %}


<!-- Javascripts -->
    <script src="{{ asset('front_assets/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('front_assets/js/typed.js') }}"></script>
    <script src="{{ asset('front_assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('front_assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('front_assets/js/jquery.superslides.min.js') }}"></script>
    <script src="{{ asset('front_assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('front_assets/js/main.js') }}"></script>
    <script src="{{ asset('front_assets/js/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('front_assets/js/popper.min.js') }}" ></script>


{% endblock %}

</body>
</html>